/*#form input, #form button, #form a, #controles-grabacion button {
    display: inline-block;
    background-color: #EAEAEA;
    border: 1px #BBB solid;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-family: sans-serif;
    font-size: 15px;
    padding: 3px 8px;
    border-radius: 2px;
}

*/

.container-fluid {
    background-color: #f90057;
    text-align: center;
    font-family: 'Crete Round', serif;
}
h5 {
    text-align: center;
    margin-right: 8px;
    margin-left: 8px;
}
input {
    text-align: center;
    text-decoration: cursive;
    margin: auto;
}
/* Esconder flechas de number input */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0;
}
form {
    font-weight: bold;
    text-align: center;
    margin-right: 8px;
    margin-left: 8px;
}
div {
    font-weight: bold;
    text-align: center;
    margin-right: 8px;
    margin-left: 8px;
}
div.form-check {
    font-weight: normal;
    margin-right: 8px;
    margin-left: 8px;
}
#comenzarGrabacion {
    background-color: #F90057;
    border: black;
}
#detenerGrabacion {
    background-color: #F90057;
    border: black;
}
